<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · WritForge" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section>
          <nav class="bg-gray-800 flex justify-between items-center px-8 py-8" style=" position: fixed; top: 0; left: 0; right: 0; z-index: 999; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);">
            <a href={Routes.page_path(@conn, :index)} class="flex items-center">
              <img src={Routes.static_path(@conn, "/images/writforge.png")} class="h-16 w-16 mr-2" alt="writforge Logo"/>
            </a>
            <div class="flex gap-6">
              <a href={Routes.page_path(@conn, :index)} class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Home</a>
              <a href="/posts" class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Posts</a>
              <a href="/about" class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">About</a>
            </div>
          </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>

<!--Base
<a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
          -->

          <%!-- <nav>
          <logo class="flex pl-4  self-center">
           <a href={Routes.page_path(@conn, :index)}> <img src={Routes.static_path(@conn, "/images/writforge.png")} class="h-16 w-16 p-1" alt="writforge logo"/></a>
          </logo>
        <div id="links-container">
        <Components.link class="bg" href={Routes.page_path(@conn, :index)}>Home</Components.link>
        <Components.link href="/posts">Posts</Components.link>
        <Components.link href="/about">About</Components.link>
      </div>
    </nav> --%>