<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · WritForge" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="absolute flex flex-col min-h-screen w-full">
    <header class=" bg-gray-600">
      <section class="mx-5 ">
        <nav class="flex justify-between py-4">
          <logo class="flex  object-cover">
           <a href={Routes.page_path(@conn, :index)}> <img src={Routes.static_path(@conn, "/images/writforge.png")} class="h-14 object-cover " alt="writforge logo"/></a>
          </logo>
          <nav-links class="flex ">
            <Components.link href={Routes.page_path(@conn, :index)}>Home</Components.link>
            <Components.link href="/posts">Posts</Components.link>
            <Components.link href="/about">About</Components.link>

            <auth-links class="flex flex-col ml-3 text-slate-300">
              <%= render "_user_menu.html", assigns %>
            </auth-links>
          </nav-links>
        </nav>
      </section>
    </header>
    <%= @inner_content %>

    <footer class="absolute bottom-0 w-full h-20 bg-gray-200">
      <p>Some realy interesting info</p>
    </footer>
  </body>
</html>
