
<section class="mr-auto flex flex-col lg:flex-row block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"  style="background-image: url('/images/typewriter-brown.jpg');">
  <h1 class="flex">Write, Collaboratively.</h1>
</section>

